
{% set prefix = prefix ~ number %}


<ul class="{{ prefix }}">
    {% for node in items %}
    	{% if not node.hideInMenu() and node.isPublished() and nodeTypes[node.getType()].getFrontendCallback() and node.isAvailableInLocale(app.locale) %}
        <li class="{% if loop.first %}first {% endif %}{{ cycle('even', 'odd') }}{% if app.cms.ode.hasParent(node.getId()) %} active-trail{% elseif app.cms.node.getId() == node.getId() %} active{% endif %}{% if loop.last %} last{% endif %}">
            <a href="{{ app.url.script }}{{ node.getRoute(app.locale) }}">{{ node.getName(app.locale) }}</a>
            {% if node.getChildren() and depth > 1 %}
                {include file="cms/widget/menu/menu.nested" items=node.getChildren() prefix="`prefix`sub" depth=depth-1}
                {% include "cms/widget/menu/menu.nested" with {prefix: prefix ~ "sub", depth: depth - 1} %}
                {% set number = number + 1 %}
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
</ul>
