{% extends 'cms/backend/index' %}
{% import "base/taskbar" as functions %}

{%  block head_title %}{% if node.getId() %}{{translate("title.entry.edit") }}{% else %}{{translate("title.entry.add") }}{% endif %} - {{ parent() }}{% endblock %}

{% block taskbar_panels %}
    {{ parent() }}

    {% if node.getId() %}
        {% set url = url("cms.entry.edit", {"locale": "%locale%", "site": site.getId, "node": node.getId()}) %}
    {% else %}
        {% set url = url("cms.entry.add", {"locale": "%locale%", "site": site.getId}) %}
    {% endif %}

    {{ functions.taskbarPanelLocales(url, locale, locales) }}
{% endblock %}

{% block content_title %}
    {{ parent() }}
    <div class="page-header">
        {% if node.getId() %}
            <h1>{{ node.getName(locale) }} <small>{{translate("title.entry.edit") }}</small></h1>
        {% else %}
            <h1>{{translate("title.entry.add") }}</h1>
        {% endif %}
    </div>
{% endblock %}

{% block content_body %}
    {{ parent() }}
    {% import "base/form.prototype" as formPrototype %}

    {{ formPrototype.form(form) }}
{% endblock %}
