{% extends 'cms/backend/index' %}
{% import "base/taskbar" as functions %}

{%  block head_title %}{{ translate("title.site.error") }} - {{ site.getName(locale) }} - {{ parent() }}{% endblock %}

{% block taskbar_panels %}
    {{ parent() }}
    {% set url = url("cms.site.error", {"locale": "%locale%", "site": site.getId(), "node": site.getId()}) %}
    {{ functions.taskbarPanelLocales(url, locale, locales) }}
{% endblock taskbar_panels %}

{% block content_title %}
    {{ parent() }}
    <div class="page-header">
        <h1>{{ site.getName(locale) }} <small>{{ translate("title.site.error") }}</small></h1>
    </div>
{% endblock content_title %}

{% block content_body %}
    {{ parent() }}
    {% import "base/form.prototype" as formPrototype %}

    <p>{{ translate("label.node.action.error.intro") }}</p>
    {{ formPrototype.form(form, app.url.request, referer) }}

{% endblock content_body %}
